* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  width: 1200px;
  margin: 2rem auto;
}

.emojis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  transition: ease-in-out 1s;
}

.emojis::after {
  content: "";
  background-image: url("./assets/backgroundForCard.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.matched {
  background-image: url("./assets/cardMatchedBackground.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotateY(180deg);
  transition: ease 1s;
  overflow: hidden;
}

.flip {
  transform: rotateY(180deg);
  background-image: url("./assets/backgroundForCard.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  transition: ease-in-out 1s;
}

.flip::after {
  transition: ease-in-out 1s;
  content: "";
  background-image: url("./assets/backgroundForCard.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
