* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.emojis {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  transition: ease-in-out 1s;
}

.emojis::after {
  content: "";
  background-color: blue;
  position: absolute;
  width: 100%;
  height: 100%;
}

.matched {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotateY(180deg);
  transition: ease 1s;
  overflow: hidden;
}

.flip {
  transform: rotateY(180deg);
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  transition: ease-in-out 1s;
}
